<!DOCTYPE html>
<html>
	<head>
		<title>All Thing Students</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/student.js"></script>
	</head>
	<body>
		<div>This is the student homepage</div>

		<form id='targetForm' action="students" method="post">
			<div>
				<label class="title">First Name</label>
				<input type="text" id="firstName">
			</div>
			<div>
				<label class="title">Last Name</label>
				<input type="text" id="lastName">
			</div>
			<div>
				<label class="title">Grade</label>
				<select id="grade">
					<option value="1">First Grade</option>
					<option value="2">Second Grade</option>
					<option value="3">Third Grade</option>
					<option value="4">Fourth Grade</option>
					<option value="5">Fifth Grade</option>
				</select>
			</div>
			<input type="submit" value="Go">
		</form> 
	</body>

</html>